{% extends 'base.html.twig' %}

{% block title %}Nouvelle tâche{% endblock %}

{% block body %}
<h1>Nouvelle tâche</h1>
<br><br>
{{ include('routine_task/_form.html.twig') }}
<br><br><br>

<div class="container-flex-center">
    <a href="{{ path('routine_show', {'id':routine.id}) }}">Retour à la routine</a>
</div>

<!-- Modal Structure -->
<div id="modal-routine-new" class="modal">
    <div class="modal-content">
        <h4>Créez votre première tâche</h4>
        <p>C'est simple. Choisissez une heure pour commencer votre activité, décrivez-la brièvement (ex: "faire du cheval", "peindre les vitres", "faire du vélo par terre"), choisissez enfin une heure de fin d'activité et le tour est joué.</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close custom-btn">Fermer</a>
    </div>
</div>

{% if isFirstRoutineTask == true %}

<script>
    // Ouvre la modal informative si première routine
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems);
        var instance = M.Modal.getInstance(document.getElementById('modal-routine-new'));
        instance.open();
    });
</script>
{% endif %}

{% endblock %}