{% extends 'base.html.twig' %}

{% block title %}My Diary{% endblock %}

{% block body %}
<h1>Bienvenue dans MyDiary, votre journal numérique personnel</h1>
<div class="divider"></div>
<p>
    MyDiary est bien plus qu'une simple application de prise de notes. C'est votre espace personnel où vous pouvez
    capturer et préserver vos pensées, vos expériences et vos souvenirs les plus précieux. Que vous cherchiez à suivre
    vos progrès, à exprimer vos émotions ou simplement à vous souvenir des moments qui comptent le plus, MyDiary est là
    pour vous accompagner à chaque étape de votre voyage.
</p>

<div class="parallax-container">
    <div class="parallax"><img src="{{ asset('assets/images/parallax-1.png') }}"></div>
</div>

<br>

<h5>Outil pour le suivi à distance</h5>
<p>
    MyDiary est également un outil idéal pour un suivi à distance avec un praticien de santé mentale ou physique. Vous
    pouvez partager vos entrées de journal en toute sécurité avec votre thérapeute ou votre médecin, leur permettant
    ainsi de suivre votre progression, de fournir un soutien personnalisé et de collaborer efficacement à votre
    bien-être global.
</p>

<br>

<h5>Capturez vos moments mémorables</h5>
<p>
    Avec MyDiary, vous pouvez enregistrer instantanément vos pensées, vos humeurs et vos expériences, où que vous soyez.
</p>

<br>

<h5>Organisez votre vie</h5>
<p>
    Grâce à nos fonctionnalités de gestion intelligente, vous pouvez organiser vos entrées pour retrouver facilement ce
    que vous recherchez. Que vous teniez un journal intime, un journal de voyage ou un carnet de réflexion, MyDiary
    s'adapte à vos besoins.
</p>

<br>

<h5>Confidentialité et sécurité en tête <i class="tiny material-icons">lock</i></h5>

<p>
    Votre vie privée est notre priorité absolue. MyDiary offre des fonctionnalités de confidentialité robustes, vous
    permettant de garder vos entrées aussi privées que vous le souhaitez. Avec le cryptage de bout en bout et le
    contrôle total de vos données, vous pouvez vous sentir en sécurité en sachant que vos souvenirs sont entre de bonnes
    mains.
</p>

<br>

<h5>Partagez vos moments avec vos proches</h5>
<p>
    Partagez vos moments préférés avec vos contacts en toute sécurité. Que ce soit pour célébrer une victoire, partager
    une pensée inspirante ou simplement rester en contact, MyDiary facilite le partage de vos moments les plus précieux
    avec ceux qui comptent le plus.
</p>

<div class="parallax-container">
    <div class="parallax"><img src="{{ asset('assets/images/parallax-2.png') }}"></div>
</div>
<div class="section white section-white">
    <div class="row container">
        <h3 class="header">Boîte à outils</h3>
        <p class="grey-text text-darken-3 lighten-3">Retrouvez tous vos outils de bien-être au quotidien en un seul
            endroit. Décidez de qui peut voir ou non vos données en un clic.</p>
    </div>
</div>

{% if not app.user %}
<br><br>

<h4>C'est gratuit</h4>
<p>Créer un compte vous permettra d'accéder à l'ensemble des outils que propose MyDiary, et cela gratuitement.</p>

<br>

<div class="container-flex-center">
    <a href="{{ path('register') }}" class="custom-btn">Créer un compte</a>
</div>
<br><br>
{% endif %}

<br><br>

{% endblock %}