{% extends 'base.html.twig' %}

{% block title %}ReadMeImSick{% endblock %}

{% block body %}
<h1>Bienvenue dans ReadMeImSick, votre journal numérique personnel</h1>
<div class="divider"></div>
<p>
    Besoin de garder un œil sur votre santé mentale tout en étant complètement épuisé par la vie moderne ? ReadMeImSick est là pour vous ! Utilisez-le pour partager toutes vos pensées, qu'elles soient profondes et significatives ou juste un cri dans le vide, avec votre thérapeute ou votre médecin. Parce que qui n'a pas besoin d'un peu plus de surveillance de nos jours ?
</p>

<div class="parallax-container">
    <div class="parallax"><img src="{{ asset('assets/images/parallax-1.png') }}"></div>
</div>

<br>

<h5>Devenez un cobaye volontaire de votre propre santé mentale avec ReadMeImSick !</h5>
<p>
    Vous voulez immortaliser chaque moment insignifiant de votre existence ? Ne cherchez pas plus loin ! ReadMeImSick vous permet de noter chaque banalité quotidienne, du lever du soleil au coucher, et de garder une trace de vos humeurs changeantes. Parce que la vie est une série ininterrompue de petits plaisirs, non ?
</p>

<br>

<h5>Capturez chaque moment insignifiant avec ReadMeImSick</h5>
<p>
    En désordre total et incapable de garder vos idées en ordre ? ReadMeImSick est là pour vous organiser ! Triez vos pensées en un tas soigneusement catégorisé. Parce que la vie est déjà assez chaotique sans avoir à fouiller à travers votre propre désordre mental.
</p>

<br>

<h5>Confidentialité et sécurité de vos données <i class="tiny material-icons">lock</i></h5>

<p>
    Ne vous inquiétez pas, tout est sous contrôle !
</p>

<br>

<div class="parallax-container">
    <div class="parallax"><img src="{{ asset('assets/images/parallax-2.png') }}"></div>
</div>
<div class="section section-white">
    <div class="row container">
        <h3 class="header">Boîte à outils</h3>
        <p class="grey-text text-darken-3 lighten-3">Retrouvez tous vos outils de bien-être au quotidien en un seul
            endroit. Décidez de qui peut voir ou non vos données en un clic.</p>
    </div>
</div>

{% if not app.user %}
<br><br>

<h4>C'est gratuit</h4>
<p>Créer un compte vous permettra d'accéder à l'ensemble des outils que propose ReadMeImSick, et cela gratuitement.</p>

<br>

<div class="container-flex-center">
    <a href="{{ path('register') }}" class="custom-btn">Créer un compte</a>
</div>
<br><br>
{% endif %}

<br><br>

{% endblock %}