<form method="post" action="{{ path('file_delete', {'id': file.id}) }}" onsubmit="return confirm('Supprimer ce fichier ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ file.id) }}">
    <button class="custom-btn">Supprimer</button>
</form>
