<form method="post" action="{{ path('book_delete', {'id': book.id}) }}" onsubmit="return confirm('Sûr');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ book.id) }}">
    <button class="btn">Delete</button>
</form>
