:root {
  //--body-bg: #406179;
  --body-bg: white;
  --dark-text: rgb(80, 82, 83);
  --alert-bg: rgba(0, 0, 0, 0.589);
  --primary-color: #676a6f;
  --link-color: #5181a3;
  --link-hover-color: #3d92cf;
  --disabled-color: rgb(141, 139, 139);
  --danger-color: #a3515c;
  --nav-color: #ffffffe8;
  --flash-alert: rgb(49, 114, 49);
  --active-color: #ebebeba1;
  --indicator-color: #213c85a1;

}

body {
  height: 100vh;
  background: var(--body-bg);
  background-image: url('../images/always-grey.png');
  background-repeat: repeat;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  color: var(--dark-text);
  overflow-y: auto;
  padding: 0 250px;

  @include lg {
    padding: 0 130px;
  }

  @include md {
    padding: 0 100px;
  }

  @include sm {
    padding: 20px;
  }

  @include xs {
    padding: 20px;
  }
}

textarea {
  color: var(--dark-text) !important;
}

.flex-left-right {
  display: flex;
}

.flex-left,
.flex-right {
  width: 50%;
}

.hr {
  height: 1px;
  border: 0;
  width: 90%;
  margin: 23px auto;
  background: rgb(42, 61, 82);
}


/*
 ***************************
MATERIALIZE
 ***************************
 */
.collapsible-header {
  justify-content: center;
}

.secondary-content {
  margin-left: 20px !important;
}

.select-dropdown>li>span {
  color: var(--primary-color) !important;
  font-weight: bold;
}

textarea {
  height: 150px !important;
}

input::placeholder,
textarea::placeholder {
  color: var(--primary-color) !important;
}

.section-white {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2) !important;
  border-radius: 30px;
}

.parallax-container {
  height: 370px !important;
}