:root {
  --body-bg: white;
  --alert-bg: rgba(0, 0, 0, 0.589);
  --primary-color: #6f6767;
  --blue-color: #325061;
  --nav-color: #c6d0f3;
}

body {
    height: 100vh;
    background: var(--body-bg);
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    color: var(--primary-color);
}

body,
html {
  overflow: hidden;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--blue-color);
  font-weight: bold;
}

.flex-left-right {
  display: flex;
}
.flex-left,
.flex-right {
  width: 50%;
}

.hr-white {
	height: 1px;
	border: 0;
	width: 90%;
	margin: 40px auto;
	background: rgb(226, 226, 226);
	background: radial-gradient(circle,
			rgb(240, 240, 240) 0%,
			rgba(255, 255, 255, 0.144) 50%,
			rgba(255, 254, 254, 0) 100%);
}