/*
***********************************
MEDIA QUERIES
***********************************
*/
:root {
  --body-bg: radial-gradient(circle, rgba(230,235,238,1) 0%, rgba(144,175,194,1) 100%);
  --dark-text: rgb(80, 82, 83);
  --alert-bg: rgba(0, 0, 0, 0.589);
  --primary-color: #6f6767;
  --link-color: #5181a3;
  --danger-color: #a3515c;
  --nav-color: #e6eaeee8;
}

body {
  height: 100vh;
  background: var(--body-bg);
  background-image: url("../images/always-grey.png");
  background-repeat: repeat;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  color: var(--dark-text);
  overflow-y: auto;
  padding: 0 100px;
}
@media (min-width: 992px) and (max-width: 1280px) {
  body {
    padding: 0 130px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  body {
    padding: 0 100px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  body {
    padding: 20px;
  }
}
@media (min-width: 300px) and (max-width: 576px) {
  body {
    padding: 20px;
  }
}

textarea {
  color: var(--dark-text) !important;
}

.flex-left-right {
  display: flex;
}

.flex-left,
.flex-right {
  width: 50%;
}

.hr {
  height: 1px;
  border: 0;
  width: 90%;
  margin: 40px auto;
  background: rgb(42, 61, 82);
  background: radial-gradient(circle, rgb(41, 54, 83) 0%, rgba(255, 255, 255, 0.144) 50%, rgba(253, 253, 253, 0) 100%);
}

/*
*******************************
GENERAL
*******************************
*/
a {
  text-decoration: none;
  color: var(--link-color) !important;
  font-weight: bold;
}

p,
label {
  font-weight: 400;
}

@media (min-width: 576px) and (max-width: 768px) {
  h1 {
    font-size: 2.4em !important;
    text-align: center;
  }
}
@media (min-width: 300px) and (max-width: 576px) {
  h1 {
    font-size: 2.4em !important;
    text-align: center;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  h5 {
    font-size: 1.4em !important;
  }
}
@media (min-width: 300px) and (max-width: 576px) {
  h5 {
    font-size: 1.3em !important;
  }
}

/*
 ***************************
SPINNER LOADING ANIMATION
 ***************************
 */
.animation-loading-container {
  display: none;
  position: absolute;
  left: 0;
  background-color: rgba(0, 0, 0, 0.411);
  width: 100%;
  height: 100vh;
  z-index: 2000;
}

.lds-dual-ring {
  position: absolute;
  top: 40%;
  left: 50%;
  display: inline-block;
  width: 80px;
  height: 80px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*
 ***************************
ALERT / FLASH MESSAGE
 ***************************
 */
.alert,
.alert-success {
  background-color: var(--alert-bg);
  color: white;
  border: none;
  position: absolute;
  width: 80%;
  text-align: center;
  z-index: 1200;
  font-size: 2.5em;
}
@media (min-width: 300px) and (max-width: 576px) {
  .alert,
  .alert-success {
    font-size: 1.8em;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .alert,
  .alert-success {
    font-size: 1.8em;
  }
}

/*
 ***************************
NAV
 ***************************
 */
nav {
  background-color: var(--nav-color) !important;
  border-radius: 0 0 20px 20px;
}
nav .nav-wrapper a {
  color: var(--dark-text) !important;
}

.sidenav {
  background-color: var(--nav-color) !important;
}
.sidenav li a {
  color: var(--dark-text) !important;
}

/*
 ***************************
BUTTONS
 ***************************
 */
.custom-btn {
  padding: 7px;
  border: solid 1px var(--link-color);
  border-radius: 0 10px 0 10px;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.521);
}
.custom-btn:hover {
  box-shadow: none;
}
.custom-btn:focus {
  background-color: #fff;
}

.btn-danger {
  border: solid 1px var(--danger-color);
  color: var(--danger-color) !important;
}

form button.custom-btn {
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  background-color: transparent !important;
  color: var(--link-color);
  font-weight: bold;
  cursor: pointer;
}

/*
 ***************************
BOOK
 ***************************
 */
#counter-documents {
  margin-left: 2em;
}
#counter-documents span {
  color: var(--link-color);
  font-weight: bold;
}

.large-input {
  width: 100%;
  height: 40vh !important;
  overflow-y: auto;
}

.container-inline {
  display: flex;
  align-items: center;
}
.container-inline .custom-btn {
  margin-left: 25px;
}

.content {
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

/*
 ***************************
FILES / IMG
 ***************************
 */
.img-medium {
  width: 100%;
}

.img-mini {
  width: 25%;
}

/*
 ***************************
DATE
 ***************************
 */
.span-txt {
  color: var(--dark-text);
  font-weight: 400;
  overflow-wrap: break-word;
}

.more-strong-txt {
  font-weight: bold;
}/*# sourceMappingURL=style.css.map */