@import "./responsive";
@import "./settings";

/*
*******************************
GENERAL
*******************************
*/
a {
    text-decoration: none;
    color: var(--link-color) !important;
    font-weight: bold;
}

a:not(.custom-btn, .disabled) {
    &:hover {
        color: var(--link-hover-color) !important;
    }
}

p,
label {
    font-weight: 400;
}

h1 {
    text-align: center;
    @include sm {
        font-size: 2.4em !important;
    }

    @include xs {
        font-size: 2.4em !important;
    }
}

h5 {
    @include sm {
        font-size: 1.8em !important;
    }

    @include xs {
        font-size: 1.6em !important;
    }
}

h5 {
    @include sm {
        font-size: 1.4em !important;
    }

    @include xs {
        font-size: 1.3em !important;
    }
}

/*
 ***************************
SPINNER LOADING ANIMATION
 ***************************
 */
.animation-loading-container {
    display: none;
    position: absolute;
    left: 0;
    background-color: rgba(0, 0, 0, 0.411);
    width: 100%;
    height: 100vh;
    z-index: 2000;
}

.lds-dual-ring {
    position: absolute;
    top: 40%;
    left: 50%;
    display: inline-block;
    width: 80px;
    height: 80px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*
 ***************************
ALERT / FLASH MESSAGE
 ***************************
 */
.alert,
.alert-success {
    width: 80%;
    color: var(--flash-alert);
    border: none;
    position: absolute;
    text-align: center;
    z-index: 1200;
    font-size: 2.5em;
    font-weight: 400;

    @include xs {
        font-size: 1.8em;
    }

    @include sm {
        font-size: 1.8em;
    }
}

/*
 ***************************
NAV
 ***************************
 */
nav {
    background-color: var(--nav-color) !important;
    border-radius: 0 0 20px 20px;

    .nav-wrapper a {
        color: var(--dark-text) !important;
    }
}

#dropdown1 {
    width: 150px !important;
}

.sidenav {
    background-color: var(--nav-color) !important;

    li a {
        color: var(--dark-text) !important;
    }
}

.friendRequest,
.friendRequest--mobile {
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: red;
    border-radius: 50%;
    transform: translate(50%, -50%);
}

.friendRequest {
    top: 25px;
    right: 80px;
}

.friendRequest--mobile {
    top: 305px;
    left: 89px;
}


/*
 ***************************
BUTTONS
 ***************************
 */
.btn-control-flex {
    display: flex;
}

.custom-btn {
    padding: 7px;
    border: solid 1px var(--link-color);
    border-radius: 0 10px 0 10px;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.521);

    &:hover {
        box-shadow: none;
    }

    &:focus {
        background-color: #fff;
    }
}

.disabled {
    cursor: not-allowed;
    ;
    color: var(--disabled-color) !important;
}

form button.custom-btn {
    height: 47px;
}

.btn-danger {
    border: solid 1px var(--danger-color);
    color: var(--danger-color) !important;
    margin-left: 10px;
}

form button.custom-btn {
    padding: 10px;
    font-family: "Montserrat", sans-serif;
    background-color: transparent !important;
    color: var(--link-color);
    font-weight: bold;
    cursor: pointer;
}

.link-btn-danger {
    color: var(--danger-color) !important;
    margin-left: 20px;
}


/*
 ***************************
CONTAINERS
 ***************************
 */
.container-flex-between {
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    @include xs {
        height: 80px;
    }

    @include sm {
        height: 80px;
    }
}

/*
 ***************************
BOOK
 ***************************
 */
#counter-documents {
    margin-left: 2em;

    span {
        color: var(--link-color);
        font-weight: bold;
    }
}

.large-input {
    width: 100%;
    height: 40vh !important;
    overflow-y: auto;
}

.container-inline {
    display: flex;
    align-items: center;

    .custom-btn {
        margin-left: 25px;
    }
}

.content {
    backdrop-filter: blur(2px);
}

/*
 ***************************
FILES / IMG
 ***************************
 */
.img-medium {
    width: 100%;
}

.img-mini {
    width: 25%;
}

/*
 ***************************
DATE
 ***************************
 */

.span-txt {
    color: var(--dark-text);
    font-weight: 400;
    overflow-wrap: break-word
}

.more-strong-txt {
    font-weight: bold;
}

.date-guest-container {
    margin-left: 50px;
}