/*
***********************************
MEDIA QUERIES
***********************************
*/
:root {
  --body-bg: white;
  --alert-bg: rgba(0, 0, 0, 0.589);
  --primary-color: #6f6767;
  --blue-color: #325061;
  --nav-color: #c6d0f3;
}

body {
  height: 100vh;
  background: var(--body-bg);
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  color: var(--primary-color);
}

body,
html {
  overflow: hidden;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--blue-color);
  font-weight: bold;
}

.flex-left-right {
  display: flex;
}

.flex-left,
.flex-right {
  width: 50%;
}

.hr-white {
  height: 1px;
  border: 0;
  width: 90%;
  margin: 40px auto;
  background: rgb(226, 226, 226);
  background: radial-gradient(circle, rgb(240, 240, 240) 0%, rgba(255, 255, 255, 0.144) 50%, rgba(255, 254, 254, 0) 100%);
}

/*
*******************************
HOME 
*******************************
*/
body {
  overflow-y: auto;
  padding: 0 200px;
}
@media (min-width: 576px) and (max-width: 768px) {
  body {
    padding: 20px;
  }
}
@media (min-width: 300px) and (max-width: 576px) {
  body {
    padding: 20px;
  }
}

/*
 ***************************
SPINNER LOADING ANIMATION
 ***************************
 */
.animation-loading-container {
  display: none;
  position: absolute;
  left: 0;
  background-color: rgba(0, 0, 0, 0.411);
  width: 100%;
  height: 100vh;
  z-index: 2000;
}

.lds-dual-ring {
  position: absolute;
  top: 40%;
  left: 50%;
  display: inline-block;
  width: 80px;
  height: 80px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*
 ***************************
ALERT / FLASH MESSAGE
 ***************************
 */
.alert,
.alert-success {
  background-color: var(--alert-bg);
  color: white;
  border: none;
  position: absolute;
  width: 100%;
  text-align: center;
  z-index: 1200;
  font-size: 2.5em;
}
@media (min-width: 300px) and (max-width: 576px) {
  .alert,
  .alert-success {
    font-size: 1.8em;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .alert,
  .alert-success {
    font-size: 1.8em;
  }
}

/*
 ***************************
NAV
 ***************************
 */
nav {
  background-color: var(--nav-color) !important;
}
nav .nav-wrapper a {
  color: var(--primary-color) !important;
}

/*
 ***************************
BUTTONS
 ***************************
 */
.custom-btn {
  padding: 10px;
  border: solid 1px var(--blue-color);
  border-radius: 10px;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.521);
}
.custom-btn:hover {
  box-shadow: none;
}
.custom-btn:focus {
  background-color: #fff;
}

/*
 ***************************
BOOK
 ***************************
 */
.large-input {
  width: 100%;
  height: 40vh !important;
  overflow-y: auto;
}

.container-inline {
  display: flex;
  align-items: center;
}
.container-inline .custom-btn {
  margin-left: 25px;
}/*# sourceMappingURL=style.css.map */