/*
***********************************
MEDIA QUERIES
***********************************
*/
:root {
  --body-bg: white;
  --body-img: url("../images/always-grey.png");
  --dark-text: rgb(80, 82, 83);
  --alert-bg: rgba(0, 0, 0, 0.589);
  --primary-color: #676a6f;
  --border-color: rgba(160, 160, 160, 0.2);
  --link-color: #5181a3;
  --link-hover-color: #3d92cf;
  --accent-color: #6a8093;
  --disabled-color: rgb(141, 139, 139);
  --danger-color: #a3515c;
  --nav-color: #ffffffef;
  --main-content-color: white;
  --flash-alert: rgb(49, 114, 49);
  --flash-alert-error: rgb(150, 47, 47);
  --active-color: #ebebeba1;
  --indicator-color: #213c85a1;
  --divider-color: #c4c5c5;
}

:root[theme=dark] {
  --body-bg: rgb(20 21 22);
  --body-img: url("../images/always-grey-dark.png");
  --dark-text: rgb(206, 213, 216);
  --alert-bg: rgba(0, 0, 0, 0.589);
  --primary-color: #abb1b9;
  --border-color: rgba(160, 160, 160, 0.2);
  --link-color: #5181a3;
  --link-hover-color: #3d92cf;
  --accent-color: #6a8093;
  --disabled-color: rgb(141, 139, 139);
  --danger-color: #a3515c;
  --nav-color: #141516e3;
  --main-content-color: rgb(20, 21, 22);
  --flash-alert: rgb(49, 114, 49);
  --flash-alert-error: rgb(150, 47, 47);
  --active-color: #ffffffa1;
  --indicator-color: #213c85a1;
  --divider-color: #e4e4e4;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: var(--body-bg);
  background-image: var(--body-img);
  background-repeat: repeat;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  color: var(--dark-text);
  overflow-y: auto;
  padding: 0 250px;
}
@media (min-width: 992px) and (max-width: 1280px) {
  body {
    padding: 0 130px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  body {
    padding: 0 100px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  body {
    padding: 0 20px;
  }
}
@media (min-width: 300px) and (max-width: 576px) {
  body {
    padding: 0;
  }
}

.main {
  flex: 1;
}

.hidden {
  visibility: hidden;
}

textarea {
  color: var(--dark-text) !important;
}

.flex-left-right {
  display: flex;
}

.flex-left,
.flex-right {
  width: 50%;
}

.hr {
  height: 1px;
  border: 0;
  width: 90%;
  margin: 23px auto;
  background: rgb(42, 61, 82);
}

/*
 ***************************
MATERIALIZE
 ***************************
 */
.collection {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2) !important;
  border: 1px solid var(--border-color) !important;
}

.collection-header,
.collection-item {
  border-bottom: 1px solid var(--border-color) !important;
}

.collapsible {
  border-top: 1px solid var(--border-color) !important;
  border-right: 1px solid var(--border-color) !important;
  border-left: 1px solid var(--border-color) !important;
}

.collapsible-header {
  border-bottom: 1px solid var(--border-color) !important;
}

.card-content,
.collection .collection-header,
.collection-item,
.collapsible-header,
.collapsible-body,
.card-action {
  background-color: var(--main-content-color) !important;
}

.card-title-center {
  margin: auto;
}

.collapsible-header {
  justify-content: center;
}

.secondary-content {
  margin-left: 20px !important;
}

.max-height-container {
  max-height: 300px;
  overflow-y: auto;
}

input {
  color: var(--dark-text) !important;
}

.select-dropdown > li > span {
  color: var(--primary-color) !important;
  font-weight: bold;
}

textarea {
  height: 150px !important;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: var(--primary-color) !important;
}

input::placeholder,
textarea::placeholder {
  color: var(--primary-color) !important;
}

.section-white {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2) !important;
  border-radius: 30px;
  background-color: var(--main-content-color) !important;
}

.parallax-container {
  height: 370px !important;
  border-radius: 20px !important;
}

.divider {
  background-color: var(--divider-color) !important;
}

.margin-right-m1 {
  margin-right: 10px;
}

@media (min-width: 300px) and (max-width: 576px) {
  .toast {
    top: -780px !important;
    width: 200px !important;
    margin: auto !important;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .toast {
    top: -780px !important;
    width: 200px !important;
    margin: auto !important;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .toast {
    top: -780px !important;
    width: 200px !important;
    margin: auto !important;
  }
}

blockquote {
  font-style: italic;
  border-left: 5px solid var(--link-color) !important;
  font-size: 1.3em !important;
  font-weight: 500 !important;
}

.flow-text {
  margin: 0 0 10px 0;
  word-break: break-all;
}

.modal,
.modal-footer {
  background-color: var(--nav-color) !important;
}

.modal {
  border-radius: 20px !important;
}

/*
*******************************
GENERAL
*******************************
*/
a {
  text-decoration: none;
  color: var(--link-color) !important;
  font-weight: bold;
}

a:not(.custom-btn, .disabled):hover {
  color: var(--link-hover-color) !important;
}

p,
label {
  font-weight: 400;
}

h1 {
  text-align: center;
  font-size: 3em !important;
}
@media (min-width: 576px) and (max-width: 768px) {
  h1 {
    font-size: 2.4em !important;
  }
}
@media (min-width: 300px) and (max-width: 576px) {
  h1 {
    font-size: 2.4em !important;
  }
}

h4 {
  text-align: center;
}

@media (min-width: 576px) and (max-width: 768px) {
  h5 {
    font-size: 1.8em !important;
  }
}
@media (min-width: 300px) and (max-width: 576px) {
  h5 {
    font-size: 1.6em !important;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  h5 {
    font-size: 1.4em !important;
  }
}
@media (min-width: 300px) and (max-width: 576px) {
  h5 {
    font-size: 1.3em !important;
  }
}

.accent-title {
  color: var(--accent-color);
}

.thin-text {
  font-size: 1.15rem;
  font-weight: 200;
}

.margin-left-20 {
  margin-left: 20px;
}

/*
 ***************************
DARK MODE
 ***************************
 */
.darkMode-container {
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 50% !important;
}

#theme-switch {
  background-color: var(--nav-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  cursor: pointer;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.521);
  border-radius: 50%;
  border: solid thin transparent;
}
#theme-switch:hover {
  border: solid thin var(--link-color);
  box-shadow: none;
}

/*
 ***************************
SPINNER LOADING ANIMATION
 ***************************
 */
.animation-loading-container {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: rgba(0, 0, 0, 0.411);
  z-index: 2000;
}

.lds-dual-ring {
  position: absolute;
  top: 40%;
  left: 50%;
  display: inline-block;
  width: 80px;
  height: 80px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid var(--dark-text);
  border-color: var(--dark-text) transparent var(--dark-text) transparent;
  animation: lds-dual-ring 1s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*
 ***************************
ALERT / FLASH MESSAGE
 ***************************
 */
.flash-container {
  height: 50px;
  position: sticky;
  width: 100%;
}

.alert,
.alert-success {
  width: 100%;
  color: var(--flash-alert);
  border: none;
  text-align: center;
  z-index: 1200;
  font-size: 2.5em;
  font-weight: 400;
}
@media (min-width: 300px) and (max-width: 576px) {
  .alert,
  .alert-success {
    font-size: 1.8em;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .alert,
  .alert-success {
    font-size: 1.8em;
  }
}

.alert-success {
  color: var(--flash-alert);
}

.alert-error {
  color: var(--flash-alert-error);
}

/*
 ***************************
NAV
 ***************************
 */
nav {
  background-color: var(--nav-color) !important;
  border-radius: 0 0 20px 20px;
}
nav .nav-wrapper a {
  color: var(--dark-text) !important;
}

.sticky {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.dropdown-nav {
  width: 150px !important;
  background-color: var(--nav-color) !important;
}

.sidenav {
  background-color: var(--nav-color) !important;
}
.sidenav li a {
  color: var(--dark-text) !important;
}

.friendRequest {
  height: 10px;
  width: 10px;
  color: red;
  border-radius: 50%;
  transform: translate(50%, -50%);
}

.footer {
  margin-top: 40px;
  background-color: var(--nav-color) !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px 20px 0 0;
}

/*
 ***************************
BUTTONS
 ***************************
 */
.btn-control-flex {
  display: flex;
  align-items: center;
}

.no-margin-btn {
  margin-left: 0 !important;
}

.custom-btn,
.custom-submit-button {
  padding: 7px;
  border: solid 1px var(--link-color);
  border-radius: 10px;
  transition: ease-in-out 0.12s;
  cursor: pointer;
  background-color: transparent;
  color: var(--link-color);
  font-family: "Montserrat", sans-serif !important;
}
.custom-btn:hover,
.custom-submit-button:hover {
  background-color: var(--link-hover-color);
  color: var(--nav-color) !important;
}
.custom-btn:focus,
.custom-submit-button:focus {
  background-color: #fff;
}

.disabled {
  cursor: not-allowed;
  pointer-events: none;
  color: var(--disabled-color) !important;
}

.btn-danger {
  border: solid 1px var(--danger-color);
  color: var(--danger-color) !important;
  margin-left: 10px;
}
.btn-danger:hover {
  background-color: var(--danger-color) !important;
}

form button.custom-btn {
  height: 39px;
  padding: 7px;
  font-family: "Montserrat", sans-serif;
  background-color: transparent !important;
  color: var(--link-color);
  font-weight: bold;
  cursor: pointer;
}
form button.custom-btn:hover {
  background-color: var(--link-hover-color) !important;
  color: var(--nav-color) !important;
}

.link-btn-danger {
  color: var(--danger-color) !important;
  margin-left: 20px;
}

/*
 ***************************
CONTAINERS
 ***************************
 */
.container-flex-between,
.container-flex-between-bottom {
  display: flex;
  justify-content: space-between;
}

.container-flex-between {
  align-items: center;
}

.container-flex-between-bottom {
  align-items: flex-end;
}
.container-flex-between-bottom h1 {
  margin-bottom: 0;
}

.container-flex-center {
  padding: 0 10px;
  display: flex;
  justify-content: center;
}

.control-flex-end {
  display: flex;
  justify-content: end;
}

.control-flex-end-vertical-center {
  height: 120px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.custom-form {
  width: 60%;
  margin: auto;
}
@media (min-width: 300px) and (max-width: 576px) {
  .custom-form {
    margin: 10px;
    width: 100%;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .custom-form {
    margin: 10px;
    width: 100%;
  }
}

.routine-form ul li div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.routine-form-select-input {
  display: block !important;
  background-color: var(--nav-color) !important;
  color: var(--dark-text);
  margin-bottom: 25px;
}

.custom-form .form-group .select-wrapper ul {
  background-color: var(--nav-color) !important;
}

/*
 ***************************
BOOK
 ***************************
 */
.book-container {
  padding: 0 10px;
}

#counter-documents {
  margin-left: 2em;
}
#counter-documents span {
  color: var(--link-color);
  font-weight: bold;
}

.large-input {
  width: 100%;
  height: 40vh !important;
  overflow-y: auto;
}

.container-inline {
  display: flex;
  align-items: center;
}
.container-inline .custom-btn {
  margin-left: 25px;
}

/*
 ***************************
FILES / IMG
 ***************************
 */
.img-medium {
  width: 100%;
}

.img-mini {
  width: 25%;
}

/*
 ***************************
DATE
 ***************************
 */
.span-txt {
  color: var(--dark-text);
  font-weight: 400;
  overflow-wrap: break-word;
}

.more-strong-txt {
  font-weight: bold;
  word-break: break-all;
}

.date-container {
  margin-top: 15px !important;
}

.date-guest-container {
  padding-left: 50px;
}

.dates-title-el:hover {
  color: var(--link-hover-color);
}

/*
 ***************************
MOOD
 ***************************
 */
.span-mood-txt {
  line-height: 30px;
}

.mood-emoticon {
  width: 35px;
}

/*
 ***************************
HEALTH
 ***************************
 */
.flex-table,
.ul-condition-container {
  max-height: 200px !important;
  overflow-y: auto !important;
}

.health-small-form {
  width: 50%;
}

/*
 ***************************
OUTILS
 ***************************
 */
.quote-type {
  display: flex;
  flex-direction: column;
  align-items: center;
}

textarea#quote_text,
.textarea-custom {
  border-radius: 10px !important;
  padding: 1em;
  width: 100% !important;
  max-height: 160px !important;
}

.quote-container {
  width: 100%;
  height: 90px;
}/*# sourceMappingURL=style.css.map */