{% extends "base.html.twig" %}

{% block title %}Ma santé{% endblock %}

{% block body %}

<blockquote>
    Fini les mots, place aux maux. Le profil santé résume toutes vos misères physiques en un seul endroit, vous
    permettant ainsi de contempler l'effondrement de votre bien-être.
</blockquote>

<h1>Mon profil santé</h1>

<div class="row">
    {# Poids #}
    <div class="col s12 m12 l12">
        {% include "health/weight.section.html.twig" %}
    </div>
</div>

<div class="row">
    {# Taille #}
    <div class="col s6 m4 l4">
        {% include "health/height.section.html.twig" %}
    </div>

    {# IMC #}
    <div class="col s6 m4 l4">
        {% include "common/imc.html.twig" %}
    </div>
    
    {# Groupe sanguin #}
    <div class="col s4 m4 l4">
        {% include "health/bloodType.section.html.twig" %}
    </div>
</div>



<div class="row">
    {# Vaccins #}
    <div class="col s12 m12 l12">
        {% include "health/vaccine.section.html.twig" %}
    </div>
</div>

<div class="row">
    {# Maladies/handicaps #}
    <div class="col s12 m12 l6">
        {% include "health/healthCondition.section.html.twig" %}
    </div>

    {# Traitement #}
    <div class="col s12 m12 l6">
        {% include "health/medication.section.html.twig" %}
    </div>
</div>

{% endblock %}