{% extends 'base.html.twig' %}

{% block title %}Modifier Date{% endblock %}

{% block body %}
<h1>Modifier cette date</h1>

{{ include('date/_form.html.twig', {'button_label': 'Update'}) }}

<br>
<br>

<div class="container-flex-center">
    <a href="{{ path('date_index') }}">Retour à la liste</a>
</div>

{% endblock %}