{% extends 'base.html.twig' %}

{% block title %}Dates index{% endblock %}

{% block body %}
<div class="container-flex-between">
    <h1>Dates</h1>
    <a href="{{ path('date_index') }}">Vue utilisateur</a>
</div>

<hr>
<br>

{% if dates %}

{% include "common/dates.guest.index.html.twig" %}

{% else %}

<h2>Vous n'avez aucune date enregistrée.</h2>

{% endif %}

<br>

{% endblock %}