{% extends 'base.html.twig' %}

{% block title %}Nouvelle Date{% endblock %}

{% block body %}
    <h1>Créer une nouvelle date</h1>

    {{ include('date/_form.html.twig') }}

    <br>
    <br>
<div class="container-flex-center">
    <a href="{{ path('date_index') }}">Retour à la liste</a>
</div>
{% endblock %}
