{% extends 'base.html.twig' %}

{% block title %}Dates{% endblock %}

{% block body %}
<blockquote>
Plongez dans cette section pour découvrir un récit captivant des moments forts et des événements marquants de la vie de {{ friendUser.pseudo }}. De l'amour au chaos, chaque date raconte une histoire qui ne manquera pas de vous tenir en haleine.
</blockquote>

<br>

<h4>Dates de {{ friendUser.pseudo }}</h4>
<hr>
<br>

{% if dates %}

{% include "common/dates.guest.index.html.twig" %}

{% else %}
    
<h6>{{ friendUser.pseudo }} n'a pas encore publié de date. </h6>

{% endif %}

<br><br>

<a href="{{ path('friend_profile_index', {'user2':friendUser.id}) }}" class="custom-btn">Revenir au profil</a>

{% endblock %}