<form method="post" action="{{ path('goal_delete', {'id': goal.id}) }}" onsubmit="return confirm('Êtes-vous sûr(e) de vouloir supprimer cet objectif ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ goal.id) }}">
    <button class="btn">Delete</button>
</form>
