<div class="row">
    <div class="col s12 m12 l12">
        <div class="card">
            <div class="card-content dark-text">
                <div class="card-title">
                    <h5>Mon compte</h5>
                </div>
                <div class="card-action">
                    <div class="container-flex-between">
                        <div class="accent-title">Mon pseudo : {{ app.user.pseudo }}</div>
                        <div>
                            <a href="#modal-pseudo-user" class="custom-btn modal-trigger" id="trigger-modal-pseudo-user">Changer</a>
                        </div>
                    </div>
                    <br><br>
                    <div class="container-flex-between">
                        <div class="accent-title">Supprimer mon compte</div>
                        <div>
                            <a href="{{ path('delete_account') }}" class="custom-btn btn-danger"  onclick="return confirm('Attention ! La suppression de votre compte est défininitive, toutes vos données seront effacées de la base de donner. Cliquez pour confirmer.');">Supprimer</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Structure -->
<div id="modal-pseudo-user" class="modal">
    <div class="modal-content">
        <h4>Gérer votre routine quotidienne</h4>
        <p>Créez, organisez et suivez vos routines avec aisance, transformant chaque jour en une symphonie de productivité et de bien-être.</p>
    </div>
    <div class="modal-footer">
        <a href="{{ path('routine_new') }}" class="modal-close custom-btn">  <i class="material-icons dark-text">add</i>Créer une routine</a>
    </div>
</div>