{% extends 'base.html.twig' %}

{% block title %}Paramètres{% endblock %}

{% block body %}

<h1>Paramètres</h1>

{# lightMode #}
{% include "parameter/lightMode.html.twig" %}

<br>
<br>

{# Visibility #}
{% include "parameter/visibility.html.twig" %}

<script src="{{ asset('assets/js/parameters.js') }}" defer></script>

{% endblock %}