{% extends 'base.html.twig' %}

{% block title %}Paramètres{% endblock %}

{% block body %}

<h1>Paramètres</h1>

{# lightMode #}
{% include "parameter/lightMode.html.twig" %}

<br>
<br>

{# Visibilité des sections #}
{# {% include "parameter/visibility.html.twig" %}

<br><br> #}

{# Profil de l'utilisateur #}
{% include "parameter/account.html.twig" %}


<script src="{{ asset('assets/js/parameters.js') }}" defer></script>

{% endblock %}