<ul class="collection with-header">
    <li class="collection-header">
        <h5>Visibilité</h5>
    </li>
    <li class="collection-item">
        <div>
            <strong>Journal</strong>
            <a href="#!" class="secondary-content">
                <label for="toggle">
                    <input class="input-visibility-setting" type="checkbox" id="toggle" />
                    <div class="toggle-wrapper"><span class="selector"></span></div>
                </label>
            </a>
        </div>
    </li>
    <li class="collection-item">
        <div>Alvin<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div>
    </li>
    <li class="collection-item">
        <div>Alvin<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div>
    </li>
    <li class="collection-item">
        <div>Alvin<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div>
    </li>
</ul>