<input type="hidden" class="env" data-envType="{{ env }}">

<ul class="collection with-header auto-margin-container">
    <li class="collection-header">
        <h5>Visibilité</h5>
    </li>
    <li class="collection-item">
        <div>
            <strong>Journal</strong>
            <a href="#!" class="secondary-content btn-visibility" data-type="book">
                {% if true == bookVisibility %}
                <span class="public-btn">Publique</span>
                {% else %}
                <span class="private-btn">Privé</span>
                {% endif %}
            </a>
        </div>
    </li>
    <li class="collection-item">
        <div>
            <strong>Humeur</strong>
            <a href="#!" class="secondary-content btn-visibility" data-type="mood">
                {% if true == moodVisibility %}
                <span class="public-btn">Publique</span>
                {% else %}
                <span class="private-btn">Privé</span>
                {% endif %}
            </a>
        </div>
    </li>
    <li class="collection-item">
        <div>
            <strong>Dates</strong>
            <a href="#!" class="secondary-content btn-visibility" data-type="date">
                {% if true == datesVisibility %}
                <span class="public-btn">Publique</span>
                {% else %}
                <span class="private-btn">Privé</span>
                {% endif %}
            </a>
        </div>
    </li>
{#     <li class="collection-item">
        <div>
            <strong>Santé</strong>
            <a href="#!" class="secondary-content btn-visibility" data-type="health">
                {% if true == healthVisibility %}
                <span class="public-btn">Publique</span>
                {% else %}
                <span class="private-btn">Privé</span>
                {% endif %}
            </a>
        </div>
    </li> #}
    <li class="collection-item">
        <div>
            <strong>Routines</strong>
            <a href="#!" class="secondary-content btn-visibility" data-type="routine">
                {% if true == routineVisibility %}
                <span class="public-btn">Publique</span>
                {% else %}
                <span class="private-btn">Privé</span>
                {% endif %}
            </a>
        </div>
    </li>
</ul>