{% extends 'base.html.twig' %}

{% block title %}Nouvelle humeur{% endblock %}

{% block body %}
<h1>Crée une nouvelle humeur</h1>

{{ include('mood/_form.html.twig') }}

<br>
<br>

<div class="container-flex-center">
    <a href="{{ path('mood_index') }}">Retour à la liste</a>
</div>

<br><br><br>
{% endblock %}