<form method="post" action="{{ path('book_content_delete', {'id': content.id}) }}" onsubmit="return confirm('Supprimer le contenu ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ content.id) }}">
    <button class="custom-btn">Supprimer</button>
</form>

