{% extends 'base.html.twig' %}

{% block title %}Nouveau contenu{% endblock %}

{% block body %}
    <h1>Créer un nouveau contenu</h1>

    {{ include('book_content/_form.html.twig') }}
{% endblock %}
