{% extends 'base.html.twig' %}

{% block title %}Contacts{% endblock %}

{% block body %}
<blockquote>
    Dans la section Contacts, faites-vous plaisir en partageant votre quotidien avec des amis triés sur le volet, car la vie est bien trop courte pour s'encombrer de relations superficielles.
</blockquote>

<input type="hidden" class="env" data-envType="{{ env }}">
<h1>Contacts</h1>

<ul class="collapsible">
    {# Invitations #}
    {% include "contacts/invitations.html.twig" %}

    {# Contacts #}
    {% include "contacts/contacts.html.twig" %}

    {# Utilisateurs du site #}
    {% include "contacts/users.html.twig" %}

</ul>

<script src="{{ asset('assets/js/contacts.js') }}" defer></script>

{% endblock %}