<li>
    <div class="collapsible-header">
        <h4>Utilisateurs du site ({{ unrelatedContacts|length }})</h4>
    </div>
    <div class="collapsible-body">
        {% if unrelatedContacts %}
        {% for unrelatedContact in unrelatedContacts %}
        <span>
            <strong>{{ unrelatedContact.pseudo }}</strong>
            {% if not isFriendshipRequested[unrelatedContact.id] and not isFriend[unrelatedContact.id] %}
            <a href="#" class="secondary-content friend-request-btn" data-targetId="{{ unrelatedContact.id }}">Envoyer une demande</a>
            {% elseif isFriend[unrelatedContact.id] %}
            <a href="#" class="secondary-content disabled">Contact</a>
            {% else %}
            <a href="#" class="secondary-content disabled">Demande envoyée</a>
            {% endif %}
        </span>
        <br>
        <br>
        {% endfor %}
        {% else %}
        <div>
            <h5>Vous n'avez pas de contacts pour le moment.</h5>
        </div>
        {% endif %}
    </div>
</li>